body {
  background: #222;
  color: #FF1493;
  font-family: "Segoe UI", Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 22px;
}

#scoreboard {
  margin: 10px 0;
  font-size: 2em;
  letter-spacing: 5px;
}

#pong {
  background: #FF1493;
  border: 3px solid #fff;
  display: block;
  margin: 0 auto;
  box-shadow: 0 8px 24px #000b;
}
